.TodoList {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #d5444d;
  border-radius: 5px;
  box-shadow: -16px -16px 0 rgba(255, 255, 255, .15);
}

.TodoList-intro {
  text-align: left;
  color: #fff;
  padding: 40px;
}

.TodoList-intro h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.TodoList-intro h2 {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}