li {
  list-style-type: none;
  background-color: #eb6069;
}

li:not(:last-of-type) {
  margin-bottom: 4px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.Todo-text {
  flex: 0 1 100%;
  margin-right: 12px;
  padding: 12px 0;
  
}

.Todo p {
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  color: #fff;
  margin-right: 24px;
}

@media screen and (min-width: 500px) {
  .Todo p {
    margin-right: 40px;
  }
}

.Todo-completed {
  text-decoration: line-through #fff;
}

.Todo-buttons {
  display: flex;
}

.Todo-button {
  background-color: transparent;
  border: none;
}

.Todo-button:hover {
  cursor: pointer;
}

.Todo-button:hover svg {
  color: rgba(255, 255, 255, .85);
}

.Todo-button svg {
  height: 18px;
  width: auto;
  color: #fff;
}

.Todo-editBtn {
  margin-right: 12px;
}

.Todo-form {
  display: flex;
  align-items: center;
  padding: 12px 40px;
}

.Todo-form input {
  flex: 0 1 160px;
  min-width: 60px;
  height: 24px;
  font-size: 14px;
  line-height: 1.2;
  color: #222;
  padding: 0 16px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Todo-form button {
  flex: 0 0 80px;
  height: 24px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.Todo-form button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .15);
}